<%= form_for @staff, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> stopped this company from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :middle_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :middle_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_line_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address_line_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :county, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :county, Staff::COUNTY_LIST, :prompt => "Please select...", :class => '' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :post_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ni, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ni, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, 'data-behaviour' => 'datepicker', 'placeholder' => "dd-mm-yyyy" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, 'data-behaviour' => 'datepicker', 'placeholder' => "dd-mm-yyyy" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_date, 'data-behaviour' => 'datepicker', 'placeholder' => "dd-mm-yyyy" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tel_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tel_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mobile_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mobile_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :next_of_kin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :next_of_kin, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :next_of_kin_tel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :next_of_kin_tel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sort_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sort_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :account_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :account_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bank, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                staffs_path, :class => 'btn' %>
  </div>
<% end %>
