<%= form_for([:admin,@leave_type]) do |f| %>
  <% if @leave_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_type.errors.count, "error") %> stopped this leave type from being saved:</h2>

      <ul>
      <% @leave_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <div class="controls">
    <%= f.check_box :paid %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_leave_types_path, :class => 'btn' %>
  </div>

<% end %>

<%= debug @leave_type %>