<%= form_for([@staff, @holiday_entitlement]) do |f| %>
  <% if @holiday_entitlement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday_entitlement.errors.count, "error") %> prevents this holiday entitlement from being saved:</h2>

      <ul>
      <% @holiday_entitlement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :staff_id %><br>
    <div class="controls">
      <%= f.collection_select(:staff_id, Staff.all, :id, :full_name) %>
    </div>
  </div>
  <div class="field">
    <%= f.label :holiday_year_start %><br>
    <div class="controls">
      <%= f.date_field :holiday_year_start %>
    </div>
  </div>
  <div class="field">
    <%= f.label :holiday_year_end %><br>
    <div class="controls">
      <%= f.date_field :holiday_year_end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :holiday_days %><br>
    <div class="controls">
    <%= f.text_field :holiday_days %>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                staff_index_path, :class => 'btn' %>
  </div>

<% end %>
