<%# add navigation links to this file %>
<li><%= link_to "Staff", staff_index_path %></li>
<li><%= link_to "Holiday", holidays_path %></li>
<li><%= link_to "Expenses", '#' %></li>
<li><%= link_to "Timesheets", '#' %></li>
<li><%= link_to "Admin", admin_path %></li>
<li><%= link_to "Logout" %></li>